In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('earthquake_1995-2023.csv')
df

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,NaN,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Asia,Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,NaN,0,912,us,0,0.000000,0.0,mw,20.200,-23.0080,169.9000,"Vao, New Caledonia",NaN,NaN
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,NaN,0,732,us,0,0.000000,0.0,mw,11.200,-8.3780,125.1270,"Maubara, Timor Leste",NaN,Indonesia
998,"M 6.6 - 10 km W of Aianí, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.000000,0.0,mw,14.000,40.1490,21.6950,"Aianí, Greece",Europe,Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,05-05-1995 03:53,0,7,NaN,0,776,us,0,0.000000,0.0,mw,16.000,12.6260,125.2970,"Cabatuan, Philippines",NaN,Philippines

In [4]:
df.head()
df.tail()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1000 non-null   object
 1   magnitude  1000 non-null   float64
 2   date_time  1000 non-null   object
 3   cdi        1000 non-null   int64
 4   mmi        1000 non-null   int64
 5   alert      449 non-null    object
 6   tsunami    1000 non-null   int64
 7   sig        1000 non-null   int64
 8   net        1000 non-null   object
 9   nst        1000 non-null   int64
 10  dmin       1000 non-null   float64
 11  gap        1000 non-null   float64
 12  magType    1000 non-null   object
 13  depth      1000 non-null   float64
 14  latitude   1000 non-null   float64
 15  longitude  1000 non-null   float64
 16  location   994 non-null    object
 17  continent  284 non-null    object
 18  country    651 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 117.3+ KB

,magnitude,cdi,mmi,tsunami,sig,nst,dmin,gap,depth,latitude,longitude
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,6.940150,3.605000,6.02700,0.325000,847.915000,193.918000,1.125174,20.926290,74.612541,4.315554,51.486576
std,0.438148,3.328972,1.43399,0.468609,301.802632,239.045858,2.073164,24.415895,130.812590,26.633320,117.478302
min,6.500000,0.000000,1.00000,0.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000
25%,6.600000,0.000000,5.00000,0.000000,691.000000,0.000000,0.000000,0.000000,16.000000,-13.518500,-71.694450
50%,6.800000,4.000000,6.00000,0.000000,744.000000,0.000000,0.000000,18.000000,29.000000,-2.443500,107.791000
75%,7.100000,7.000000,7.00000,1.000000,874.250000,403.000000,1.549250,27.000000,55.000000,25.167250,148.364750
max,9.100000,9.000000,10.00000,1.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000

In [5]:
print(df.isnull().sum())

title          0
magnitude      0
date_time      0
cdi            0
mmi            0
alert        551
tsunami        0
sig            0
net            0
nst            0
dmin           0
gap            0
magType        0
depth          0
latitude       0
longitude      0
location       6
continent    716
country      349
dtype: int64

In [6]:
cat_cols = df.select_dtypes(include = ['object']).columns.tolist()
num_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()

print("Categorical columns:", cat_cols)
print("Numeric columns:", num_cols)

for col in cat_cols:
    print(f"\nValue counts for '{col}': ")
    print(df[col].value_counts())

Categorical columns: ['title', 'date_time', 'alert', 'net', 'magType', 'location', 'continent', 'country']
Numeric columns: ['magnitude', 'cdi', 'mmi', 'tsunami', 'sig', 'nst', 'dmin', 'gap', 'depth', 'latitude', 'longitude']

Value counts for 'title':
title
M 6.5 - Kermadec Islands, New Zealand          3
M 6.9 -                                        3
M 6.5 - 71 km SE of Nikolski, Alaska           2
M 7.7 - southeast of the Loyalty Islands       2
M 6.8 - south of the Fiji Islands              2
                                              ..
M 6.7 - 83 km ENE of Miyako, Japan             1
M 6.7 - 103 km W of El Aguilar, Argentina      1
M 6.8 - 81 km NNE of Port-Vila, Vanuatu        1
M 6.5 - 236 km S of Punta de Burica, Panama    1
M 7.1 - 14 km NE of Cabatuan, Philippines      1
Name: count, Length: 984, dtype: int64

Value counts for 'date_time':
date_time
11-01-2022 12:39    3
11-01-2022 11:35    3
19-07-2008 02:39    2
14-08-2021 11:57    2
29-07-2021 06:15    2
                   ..
30-03-2015 08:48    1
29-03-2015 23:48    1
27-02-2015 13:45    1
16-02-2015 23:06    1
05-05-1995 03:53    1
Name: count, Length: 990, dtype: int64

Value counts for 'alert':
alert
green     353
yellow     59
orange     24
red        13
Name: count, dtype: int64

Value counts for 'net':
net
us          960
ak           13
official      9
at            3
ci            3
nc            3
duputel       3
pt            2
hv            2
nn            1
uw            1
Name: count, dtype: int64

Value counts for 'magType':
magType
mww    502
mwc    332
mwb    100
mw      51
Mi       5
mb       4
ms       3
md       2
ml       1
Name: count, dtype: int64

Value counts for 'location':
location
Kokopo, Papua New Guinea     29
Sola, Vanuatu                19
Kirakira, Solomon Islands    18
Panguna, Papua New Guinea    17
Kimbe, Papua New Guinea      15
                             ..
Aniso, Peru                   1
Piti Village, Guam            1
Sangay, Philippines           1
El Aguilar, Argentina         1
Cabatuan, Philippines         1
Name: count, Length: 502, dtype: int64

Value counts for 'continent':
continent
Asia             137
South America     75
North America     51
Europe            13
Oceania            4
Africa             4
Name: count, dtype: int64

Value counts for 'country':
country
Indonesia                                                     140
Papua New Guinea                                               81
Chile                                                          42
Vanuatu                                                        36
Mexico                                                         31
Japan                                                          26
Peru                                                           26
Solomon Islands                                                25
United States of America                                       24
Philippines                                                    23
Russia                                                         19
People's Republic of China                                     15
Afghanistan                                                    10
Ecuador                                                        10
Fiji                                                           10
Iran                                                            9
New Zealand                                                     9
Taiwan                                                          9
Colombia                                                        8
Greece                                                          7
Myanmar                                                         6
India                                                           6
Argentina                                                       6
Turkey                                                          6
Pakistan                                                        5
United Kingdom of Great Britain and Northern Ireland (the)      5
Panama                                                          4
Bolivia                                                         4
Nepal                                                           4
Turkiye                                                         3
Antarctica                                                      3
Costa Rica                                                      3
Brazil                                                          3
Guatemala                                                       3
El Salvador                                                     2
Haiti                                                           2
Tajikistan                                                      2
Nicaragua                                                       2
Azerbaijan                                                      2
Iceland                                                         2
Venezuela                                                       2
Tanzania                                                        2
Mozambique                                                      1
Turkmenistan                                                    1
Trinidad and Tobago                                             1
Algeria                                                         1
Mongolia                                                        1
Martinique                                                      1
Kyrgyzstan                                                      1
Tonga                                                           1
Canada                                                          1
Russian Federation (the)                                        1
Italy                                                           1
Botswana                                                        1
South Georgia and the South Sandwich Islands                    1
Saudi Arabia                                                    1
Name: count, dtype: int64